
@{
    ViewData["Title"] = "CompleteForgetPassword";
    Layout = "~/Views/Shared/AuthLayout.cshtml";
}
<div class="main-agileinfo">
<div class="agileits-top">
    <div class="body">
 <div>

     Password reset link has been sent to your email 
    <br />
    ,please check your inbox 

    <p> <a href="https://mail.google.com/mail/u/0/#inbox"></a></p>  

</div>

     </div>
</div>
