
@{
    ViewData["Title"] = "ResetPasswordDone";
    Layout = "~/Views/Shared/AuthLayout.cshtml";
}

<div class="main-agileinfo"> 
<div class="agileits-top">

    <p> <a asp-action="Login"> Login</a></p>
</div>

</div>
