@model EmployeeModel
@{
    ViewData["Title"] = "Create";
}

<h1>Create New Employee</h1>
<br />
<br />
<form asp-action="Create" enctype="multipart/form-data">
    <partial name="CreateEditPartialview" />
   <input type="submit" class="btn btn-primary" value="Submit"/>
    <a class="btn btn-light" asp-action="Index" asp-controller="Employee">Back to all List</a>
</form>
@section scriptsSection{
    <Partial name="_ValidationScriptsPartial"/>
}
